---

# Download and install SELinux Python module (required by Ansible)
- name: Install Dependencies
  yum: name={{item}} state=present update_cache=yes
  with_items:
    - libselinux-python
    - pkgconfig
    - openssl-1.0.1e
